@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.gold-text {
  background: linear-gradient(45deg, #ffd700, #ffa500, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.silver-text {
  background: linear-gradient(45deg, #ccc, #eee, #aaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
