.card-form {
  display: flex;
  flex-direction: column;
}

.card-form__values {
  display: flex;
  flex-direction: column;
}

.card-form__values > div {
  margin-bottom: var(--margin-s);
}

@media (min-width: 500px) {
  .card-form__values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margin-s);
    margin-bottom: var(--margin-m);
  }

  .card-form__values > div {
    margin-bottom: 0;
  }
}

.card-form__flavor {
  margin-bottom: var(--margin-m);
}

.card-form__flavor > div {
  width: 100%;
}

.card-form__effects {
  margin-bottom: var(--margin-l);
}

.card-form__submit {
  width: 200px;
}

.card-form-result {
  overflow-wrap: break-word;
}
