.fab-add {
  position: fixed !important;
  right: var(--margin-s);
  bottom: var(--margin-s);
}

@media (min-width: 500px) {
  .fab-add {
    display: none !important;
  }
}

.home-total-card {
  margin-bottom: var(--margin-xs);
}
